In [1]:
import pandas as pd;

In [3]:
df = pd.read_csv('data/dept_emp.csv')
df

        emp_no dept_no
0        10001    d005
1        10002    d007
2        10003    d004
3        10004    d004
4        10005    d003
...        ...     ...
331598  499995    d004
331599  499996    d004
331600  499997    d005
331601  499998    d002
331602  499999    d004

[331603 rows x 2 columns]

In [4]:
df.emp_no.nunique()

300024

In [10]:
manager_df = pd.read_csv('data/dept_manager.csv')
manager_df.shape

(24, 2)

In [9]:
manager_df.emp_no.nunique()

24